.topo{
    padding: 20px;
}

.img-destaque{
    max-width: 380px;
}

.cor-letra{
    color: #202a65;
}

.banner{
    background-color:rgb(247, 242, 236);
    padding: 20px;
}

.quemsou{
    background:#202a65;
    color: #fff;
}

